* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: main;
  background-color: #504b4b;
}

main {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  flex-direction: row;
  margin: 1rem;
  margin-bottom: 5rem;
}

header {
  padding: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: min-content;
}

footer {
  opacity: 0.6;
  background-color: #00AA88;
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: height 0.5s ease;
  transition: opacity 0.5 ease;
}
footer .container-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: display 0.5s ease;
}
footer .social {
  font-size: 28pt;
  margin: 1rem;
  transition: font-size 0.5s ease;
}
footer .social-text {
  font-size: 24pt;
  display: none;
}

footer:hover {
  height: 12rem;
  opacity: 1;
}
footer:hover .container-social {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px dashed black;
}
footer:hover .social {
  margin: 4px;
  font-size: 36pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer:hover .social-text {
  display: block;
  font-size: 24pt;
}

@font-face {
  font-family: logoFont;
  src: url("../../assets/fonts/Mr Sunshine.ttf");
}
@font-face {
  font-family: main;
  src: url("../../assets/fonts/Roboto/Roboto-regular.ttf");
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00AA88;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #046652;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}
.header-content .projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-content .project-body {
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #00AA88;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: padding 0.5s ease;
}
.header-content .project-body .num {
  position: absolute;
  bottom: 85%;
  left: 30%;
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: #00AA88;
}
.header-content .project-body .text-body {
  padding: 0.2rem;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  transition: font-size 0.5s ease;
}
.header-content .project-body:hover {
  padding: 1rem;
}
.header-content .project-body:hover .text-body {
  padding: 0.1rem;
  font-size: 14pt;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
}

.skill {
  text-align: right;
  color: white;
}

.backend {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #aa480f;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
}
.backend hr {
  display: none;
  border-top: 2px solid #aa480f;
  margin: 0.5rem;
  width: 100%;
}
.backend .back-text {
  background-color: white;
  position: absolute;
  bottom: 93%;
  float: left;
  padding: 0.3rem;
  font-size: large;
  color: #aa480f;
}
.backend .container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.backend .container-main .skill-icon {
  font-size: 32px;
  margin-right: 1rem;
}
.backend .container-main .i-php {
  margin: 0.1rem;
  margin-right: 0.4rem;
  font-size: 26px !important;
  color: #8993be;
}
.backend .container-main .i-laravel {
  margin-right: 0.9rem;
  font-size: 26px !important;
  color: #F05340;
}
.backend .container-main .i-sql {
  font-size: 28px !important;
  color: #00758F;
}
.backend .container-main .i-node {
  font-size: 28px !important;
  color: #3C873A;
}
.backend .container-main .i-mongo {
  font-size: 28px !important;
  color: #3C873A;
}
.backend .container-main .container {
  width: 10rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 0.2rem;
}
.backend .container-main .container .php {
  width: 85%;
  background-color: #8993be;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.backend .container-main .container .laravel {
  width: 80%;
  background-color: #F05340;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.backend .container-main .container .sql {
  width: 80%;
  background-color: #F29111;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.backend .container-main .container .node {
  width: 80%;
  background-color: #3C873A;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.backend .container-main .container .mongo {
  width: 50%;
  background-color: #3C873A;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}

.frontend {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #2965f1;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}
.frontend .front-text {
  background-color: white;
  position: absolute;
  float: left;
  bottom: 92%;
  padding: 0.3rem;
  font-size: large;
  color: #2965f1;
}
.frontend .container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frontend .container-main .skill-icon {
  font-size: 32px;
  margin-right: 0.5rem;
}
.frontend .container-main .i-html {
  color: #aa480f;
}
.frontend .container-main .i-css {
  color: #2965f1;
}
.frontend .container-main .i-js {
  font-size: 28px !important;
  color: #c9b114;
}
.frontend .container-main .i-vue {
  font-size: 28px !important;
  color: #41B883;
}
.frontend .container-main .i-react {
  font-size: 26px !important;
  color: #61DBFB;
}
.frontend .container-main .container {
  width: 10rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 0.2rem;
}
.frontend .container-main .container .html {
  width: 93%;
  background-color: #aa480f;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.frontend .container-main .container .css {
  width: 85%;
  background-color: #2965f1;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.frontend .container-main .container .js {
  width: 80%;
  background-color: #c9b114;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.frontend .container-main .container .vue {
  width: 80%;
  background-color: #41B883;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.frontend .container-main .container .react {
  width: 40%;
  background-color: #61DBFB;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}

.others {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #0faa31;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
}
.others .others-text {
  background-color: white;
  position: absolute;
  float: left;
  bottom: 92%;
  padding: 0.3rem;
  font-size: large;
  color: #0faa31;
}
.others hr {
  border-top: 2px solid #0faa31;
  width: 100%;
  margin: 0.5rem;
}
.others .container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.others .container-main .skill-icon {
  font-size: 32px;
  margin-right: 1rem;
}
.others .container-main .i-python {
  color: #4B8BBE;
}
.others .container-main .i-java {
  color: #5382a1;
}
.others .container-main .i-c {
  color: #000;
}
.others .container-main .i-git {
  font-size: 28px !important;
  color: #F1502F;
}
.others .container-main .i-vue {
  font-size: 28px !important;
  color: #41B883;
}
.others .container-main .container {
  width: 10rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 0.2rem;
}
.others .container-main .container .python {
  width: 85%;
  background-color: #4B8BBE;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.others .container-main .container .java {
  width: 80%;
  background-color: #5382a1;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.others .container-main .container .c {
  width: 80%;
  background-color: #000;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}
.others .container-main .container .git {
  width: 80%;
  background-color: #F1502F;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: large;
}

.sidebar {
  background-color: white;
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8);
  height: 35rem;
  overflow-y: auto;
  grid-row: 1/3;
  white-space: nowrap;
}
.sidebar .side-title {
  margin: 0px;
  padding: 0.5rem;
  background-color: #00AA88;
  color: #fff;
  font-size: 24pt;
  text-align: center;
}

.logo-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin: 1rem;
}

.logo-image {
  margin-top: 1rem;
}

.logo-words-group {
  display: flex;
  flex-direction: row;
  align-items: start;
  position: absolute;
  top: 92%;
}
.logo-words-group .write-bar {
  font-size: 14pt;
  font-weight: bold;
}

.logo-words {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.logo-words .letter-logo {
  font-size: 10pt;
}
.logo-words .code {
  color: #00AA88;
}
.logo-words .hidden-letter {
  visibility: hidden;
}

.about-me {
  position: relative;
  border-radius: 1rem;
  border: 1px solid #00AA88;
  background-color: #ffffff;
}
.about-me .about-info .about-body {
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0rem 1rem 1rem;
  transition: background-color 0.8s ease;
}
.about-me .about-info .about-body p {
  padding: 0.2rem 0.5rem 0rem 0.5rem;
}
.about-me .about-info .about-body .about-text {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 12pt;
}
.about-me .about-info .about-body .about-text .value {
  font-size: 12pt;
}
.about-me .about-info .about-body .about-img {
  opacity: 0.8;
  margin-top: 0.5rem;
}
.about-me .about-info .about-body .about-img img {
  border-radius: 50%;
}
.about-me .about-info .about-body .description {
  display: none;
}
.about-me .about-info .about-title {
  margin: 0px;
  text-align: center;
  background-color: #00AA88;
  border-radius: 1rem 1rem 0rem 0rem;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  font-size: 12pt;
}
.about-me .about-info .about-body:hover {
  background-color: #00aa8856;
}
.about-me .about-info .about-body:hover .about-text {
  display: none;
}
.about-me .about-info .about-body:hover .about-img {
  display: none;
}
.about-me .about-info .about-body:hover .description {
  color: black;
  display: block;
  text-align: center;
  font-size: 14pt;
}

.navigation {
  margin: 0px;
  height: 4rem;
  width: 100%;
  background-color: #00AA88;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation .icon-responsive {
  display: none;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navigation ul li {
  margin: 0rem 2rem 0rem 0rem;
}
.navigation ul li a {
  font-size: 18pt;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s ease;
  transition: font-size 0.5s ease;
  padding: 1rem;
}
.navigation ul li:hover a {
  background-color: black;
  color: #00AA88;
  font-size: 20pt;
}

.content {
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8);
  background-color: white;
}
.content .card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(0, 0, 0, 0.3);
  font-size: 18pt;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .card .card-title {
  text-align: center;
  color: #00AA88;
  margin-bottom: 1rem;
}
.content .card article {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.content .card article .article-description {
  margin: 0rem 0.5rem 0rem 1rem;
}

@media (max-width: 1200px) {
  header .header-content .projects-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 940px) {
  header .navigation {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header .navigation .icon-responsive {
    display: block;
    font-size: 24pt;
    color: white;
    padding: 0.5rem;
  }
  header .navigation ul {
    display: none;
    flex-direction: column;
  }
  header .header-content {
    display: flex;
    flex-direction: column;
  }
  header .header-content .projects-container {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    margin: 0.5rem;
  }
  header .header-content .logo-main {
    margin: 0.5rem;
  }
  header .header-content .logo-main .logo-image {
    width: 300px;
  }

  main {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  main .content {
    margin: 0.5rem;
    margin-bottom: 3rem;
  }
  main .content .card {
    box-shadow: 0px 0px 0px;
    border: 0px;
  }
  main .content .card article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card article .about-info .about-body {
    width: 12rem;
  }
  main .content .card article .article-description {
    margin-top: 0.5rem;
  }
  main .sidebar {
    margin: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  main .sidebar .skills {
    display: flex;
  }
  main .sidebar .side-title {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
