* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: main;
  background-color: white;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: none;
  /*
  display:grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin: 1rem;
  margin-bottom: 5rem;
  */
}

header {
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: min-content;
}

footer {
  display: none;
  opacity: 0.8;
  background-color: #00AA88;
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
footer .container-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: display 0.5s ease;
}
footer .social {
  font-size: 28pt;
  margin: 1rem;
  transition: font-size 0.5s ease;
}
footer .social-text {
  font-size: 24pt;
  display: none;
}

footer:hover {
  padding: 1rem;
  opacity: 1;
}
footer:hover .container-social {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px dashed black;
}
footer:hover .social {
  margin: 0.3rem;
  font-size: 36pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer:hover .social-text {
  display: block;
  font-size: 12pt;
  margin: 0.5rem;
}

@font-face {
  font-family: logoFont;
  src: url("../../assets/fonts/Mr Sunshine.ttf");
}
@font-face {
  font-family: main;
  src: url("../../assets/fonts/Roboto/Roboto-regular.ttf");
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00AA88;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #046652;
}

.no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.bg-primary {
  background-color: #00AA88;
}

.c-primary {
  color: #00AA88;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}
.header-content .projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-content .project-body {
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #00AA88;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: padding 0.5s ease;
}
.header-content .project-body .num {
  position: absolute;
  bottom: 85%;
  left: 30%;
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: #00AA88;
}
.header-content .project-body .text-body {
  padding: 0.2rem;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  transition: font-size 0.5s ease;
}
.header-content .project-body:hover {
  padding: 1rem;
}
.header-content .project-body:hover .text-body {
  padding: 0.1rem;
  font-size: 14pt;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
}

.skill {
  text-align: center;
  color: white;
}

.backend {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #aa480f;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
}
.backend hr {
  border-top: 2px solid #aa480f;
  margin: 0.3rem;
  width: 100%;
}
.backend .progress-title {
  background-color: white;
  position: absolute;
  float: left;
  bottom: 92%;
  padding: 0.3rem;
  font-size: large;
  color: #aa480f;
}
.backend .container-main-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.backend .container-main-progress .skill-icon {
  font-size: 32px;
  margin-right: 1rem;
}
.backend .container-main-progress .i-php {
  margin: 0.1rem;
  margin-right: 0.4rem;
  font-size: 26px !important;
  color: #8993be;
}
.backend .container-main-progress .i-laravel {
  margin-right: 0.9rem;
  font-size: 26px !important;
  color: #F05340;
}
.backend .container-main-progress .i-sql {
  font-size: 28px !important;
  color: #00758F;
}
.backend .container-main-progress .i-node {
  font-size: 28px !important;
  color: #3C873A;
}
.backend .container-main-progress .i-mongo {
  font-size: 28px !important;
  color: #3C873A;
}
.backend .container-main-progress .progress {
  width: 10rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 0.2rem;
}
.backend .container-main-progress .progress .php {
  width: 85%;
  background-color: #8993be;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.backend .container-main-progress .progress .laravel {
  width: 80%;
  background-color: #F05340;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.backend .container-main-progress .progress .sql {
  width: 80%;
  background-color: #F29111;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.backend .container-main-progress .progress .node {
  width: 70%;
  background-color: #3C873A;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.backend .container-main-progress .progress .mongo {
  width: 50%;
  background-color: #3C873A;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}

.frontend {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #2965f1;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
}
.frontend hr {
  border-top: 2px solid #2965f1;
  margin: 0.3rem;
  width: 100%;
}
.frontend .progress-title {
  background-color: white;
  position: absolute;
  float: left;
  bottom: 92%;
  padding: 0.3rem;
  font-size: large;
  color: #2965f1;
}
.frontend .container-main-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frontend .container-main-progress .skill-icon {
  font-size: 32px;
  margin-right: 0.5rem;
}
.frontend .container-main-progress .i-html {
  font-size: 32px !important;
  color: #aa480f;
}
.frontend .container-main-progress .i-css {
  font-size: 32px !important;
  color: #2965f1;
}
.frontend .container-main-progress .i-js {
  font-size: 28px !important;
  color: #c9b114;
}
.frontend .container-main-progress .i-vue {
  font-size: 28px !important;
  color: #41B883;
}
.frontend .container-main-progress .i-react {
  font-size: 26px !important;
  color: #61DBFB;
}
.frontend .container-main-progress .progress {
  width: 10rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 0.2rem;
}
.frontend .container-main-progress .progress .html {
  width: 93%;
  background-color: #aa480f;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.frontend .container-main-progress .progress .css {
  width: 85%;
  background-color: #2965f1;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.frontend .container-main-progress .progress .js {
  width: 80%;
  background-color: #c9b114;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.frontend .container-main-progress .progress .vue {
  width: 80%;
  background-color: #41B883;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.frontend .container-main-progress .progress .react {
  width: 50%;
  background-color: #61DBFB;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}

.others {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #0faa31;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
}
.others hr {
  border-top: 2px solid #0faa31;
  margin: 0.3rem;
  width: 100%;
}
.others .progress-title {
  background-color: white;
  position: absolute;
  float: left;
  bottom: 92%;
  padding: 0.3rem;
  font-size: large;
  color: #0faa31;
}
.others .container-main-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.others .container-main-progress .skill-icon {
  font-size: 32px;
  margin-right: 1rem;
}
.others .container-main-progress .i-python {
  font-size: 32px !important;
  color: #4B8BBE;
}
.others .container-main-progress .i-java {
  font-size: 32px !important;
  color: #5382a1;
}
.others .container-main-progress .i-c {
  font-size: 32px !important;
  color: #000;
}
.others .container-main-progress .i-git {
  font-size: 28px !important;
  color: #F1502F;
}
.others .container-main-progress .i-docker {
  font-size: 20px !important;
  color: #0db7ed;
}
.others .container-main-progress .i-vue {
  font-size: 28px !important;
  color: #41B883;
  font-size: 28px !important;
  color: #41B883;
}
.others .container-main-progress .progress {
  width: 10rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 0.2rem;
}
.others .container-main-progress .progress .python {
  width: 85%;
  background-color: #4B8BBE;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.others .container-main-progress .progress .java {
  width: 80%;
  background-color: #5382a1;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.others .container-main-progress .progress .c {
  width: 80%;
  background-color: #000;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.others .container-main-progress .progress .git {
  width: 80%;
  background-color: #F1502F;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}
.others .container-main-progress .progress .docker {
  width: 60%;
  background-color: #0db7ed;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 13pt;
}

.sidebar {
  background-color: white;
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8);
  height: 52rem;
  overflow-y: auto;
  grid-row: 1/3;
  white-space: nowrap;
}
.sidebar .side-title {
  margin: 0px;
  padding: 0.5rem;
  background-color: #00AA88;
  color: #fff;
  font-size: 24pt;
  text-align: center;
}

.logo-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin: 1rem;
  margin-bottom: 1.5rem;
}

.logo-image {
  padding: 1rem;
  padding-top: 0px;
}

.logo-words-group {
  display: flex;
  flex-direction: row;
  align-items: start;
  position: absolute;
  top: 90%;
}
.logo-words-group .write-bar {
  font-size: 16pt;
  font-weight: bold;
}

.logo-words {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.logo-words .letter-logo {
  font-size: 12pt;
}
.logo-words .code {
  color: #00AA88;
}
.logo-words .hidden-letter {
  visibility: hidden;
}

.card {
  position: relative;
  border-radius: 1rem;
  border: 1px solid #00AA88;
  background-color: #ffffff;
}
.card .card-info .card-body {
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0rem 1rem 1rem;
  transition: background-color 0.8s ease;
}
.card .card-info .card-body p {
  padding: 0.2rem 0.5rem 0rem 0.5rem;
}
.card .card-info .card-body .card-text {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 12pt;
}
.card .card-info .card-body .card-text .value {
  font-size: 12pt;
}
.card .card-info .card-body .card-img {
  margin-top: 0.5rem;
}
.card .card-info .card-body .card-img img {
  border-radius: 50%;
  width: 100px;
}
.card .card-info .card-body .card-description {
  display: none;
}
.card .card-info .card-title {
  margin: 0px;
  text-align: center;
  background-color: #00AA88;
  border-radius: 1rem 1rem 0rem 0rem;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  font-size: 14pt;
}
.card .card-info .card-title a {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.5s;
}
.card .card-info .card-title a:hover {
  font-size: 16pt;
  color: #000;
}
.card .card-info .card-body:hover {
  background-color: #00aa8856;
}
.card .card-info .card-body:hover .card-text {
  display: none;
}
.card .card-info .card-body:hover .card-img {
  display: none;
}
.card .card-info .card-body:hover .card-description {
  color: black;
  display: block;
  text-align: center;
  font-size: 14pt;
}

.navigation {
  margin: 0px;
  height: 4rem;
  width: 100%;
  background-color: #00AA88;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation .icon-responsive {
  display: none;
}
.navigation .icon-responsive #menu-icon-close {
  display: none;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navigation ul li {
  margin: 0rem 2rem 0rem 0rem;
}
.navigation ul li a {
  font-size: 18pt;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s ease;
  transition: font-size 0.5s ease;
  padding: 1rem;
}
.navigation ul li:hover a {
  background-color: black;
  color: #00AA88;
  font-size: 20pt;
}

.content {
  height: 33rem;
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.8), -2px 0px 4px rgba(0, 0, 0, 0.8);
  background-color: white;
  overflow-y: auto;
}
.content #about-me {
  font-size: 16pt;
  margin: 1rem;
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
}
.content #about-me .title {
  text-align: center;
  color: #00AA88;
  margin-bottom: 1rem;
}
.content #about-me article {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.content #about-me article .article-description {
  margin: 0rem 0.5rem 0rem 1rem;
}
.content #projects {
  font-size: 16pt;
  margin: 1rem;
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
}
.content #projects .title {
  text-align: center;
  color: #00AA88;
  margin-bottom: 1rem;
}
.content #projects article {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.content #projects article .article-description {
  margin: 0rem 0.5rem 0rem 1rem;
}
.content #contact {
  font-size: 16pt;
  margin: 1rem;
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
}
.content #contact .title {
  text-align: center;
  color: #00AA88;
  margin-bottom: 1rem;
}
.content #contact article {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.content #contact article .article-description {
  margin: 0rem 0.5rem 0rem 1rem;
}

.preloader span {
  color: #00AA88;
  font-size: 20pt;
}

@media (max-width: 1200px) {
  header .header-content .projects-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 940px) {
  header .navigation {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .navigation .icon-responsive {
    display: block;
    font-size: 24pt;
    color: white;
    padding: 0.5rem;
  }
  header .navigation ul {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
  }
  header .navigation ul li {
    padding: 0.5rem;
  }
  header .navigation ul li a {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  header .header-content {
    display: flex;
    flex-direction: column;
  }
  header .header-content .projects-container {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    margin: 0.5rem;
  }
  header .header-content .logo-main {
    margin: 0.5rem;
  }
  header .header-content .logo-main .logo-image {
    width: 300px;
  }

  .logo-words-group {
    top: 83%;
  }
  .logo-words-group .write-bar {
    font-size: 10pt;
    font-weight: bold;
  }

  .logo-words .letter-logo {
    font-size: 10pt;
  }

  main {
    margin: 0.5rem;
    padding: 0.5rem;
    display: none;
  }
  main .content {
    margin: 0.5rem;
    margin-bottom: 3rem;
  }
  main .content #about-me article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content #about-me article .about-info .about-body {
    width: 12rem;
  }
  main .content #about-me article .article-description {
    margin-top: 0.5rem;
  }
  main .content #projects article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content #projects article .about-info .about-body {
    width: 12rem;
  }
  main .content #projects article .article-description {
    margin-top: 0.5rem;
  }
  main .content #contact article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content #contact article .about-info .about-body {
    width: 12rem;
  }
  main .content #contact article .article-description {
    margin-top: 0.5rem;
  }
  main .sidebar {
    margin: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  main .sidebar .skills {
    display: flex;
  }
  main .sidebar .side-title {
    width: 100%;
  }

  footer:hover {
    height: 12rem;
    opacity: 1;
  }
  footer:hover .container-social {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px dashed black;
  }
  footer:hover .social {
    margin: 0.3rem;
    font-size: 36pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer:hover .social-text {
    display: block;
    font-size: 12pt;
    margin: 0.5rem;
  }
}

/*# sourceMappingURL=app.css.map */
