*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: main;
    background-color:white;
    //background-color: rgb(80, 75, 75);
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



main{
    display: none;
    /*
    display:grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: auto auto;
    gap: 2rem;
    margin: 1rem;
    margin-bottom: 5rem;
    */
    
}

header{
    padding: 0px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 4px -4px 8px rgba(0,0,0,0.8), -2px 0px 4px rgba(0,0,0,0.8);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: min-content;

}

footer{
    display: none; // Empieza oculta para cambiarlo con el
    opacity: 0.8;
    background-color: #00AA88;
    height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    //display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    transition: all 0.5s ease; 
    
    .container-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        transition: display 0.5s ease;
    }

    .social{
        font-size: 28pt;
        margin: 1rem;
        transition: font-size 0.5s ease;
    }

    .social-text{
        font-size: 24pt;
        display: none;
    }
}

footer:hover{
    padding: 1rem;
    opacity: 1;

    .container-social{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content:center;
        border-radius:0.5rem;
        border: 1px dashed black;
    }

    .social{
        margin: 0.3rem;
        font-size: 36pt;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    }

    .social-text{
        display: block;
        font-size: 12pt;
        margin: 0.5rem;
    }
}



@import "components";
@import "media";
