@import "variables";
@import "mixins";

    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(175, 175, 175);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00AA88;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #046652;
  }

  .no-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


.m-1{
    margin: 0.5rem;
}
.m-2{
    margin: 1rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}

.p-1{
    padding: 0.5rem;
}
.p-2{
    padding: 1rem;
}
.p-3{
    padding: 2rem;
}
.p-1{
    padding: 3rem;
}



.border-1{
    border: 1px solid #000!important;
}
.border-2{
    border: 3px solid #000!important;
}.border-3{
    border: 5px solid #000!important;
}

.border-yellow-1{
    border: 1px solid $yellow!important;
}
.border-yellow-2{
    border: 3px solid $yellow!important;
}.border-yellow-3{
    border: 5px solid $yellow!important;
}

.border-green-1{
    border: 1px solid $green!important;
}
.border-green-2{
    border: 3px solid $green!important;
}.border-green-3{
    border: 5px solid $green!important;
}

.border-blue-1{
    border: 1px solid $blue!important;
}
.border-blue-2{
    border: 3px solid $blue!important;
}.border-blue-3{
    border: 5px solid $blue!important;
}

.border-primary-1{
    border: 1px solid $primary!important;
}
.border-primary-2{
    border: 3px solid $primary!important;
}.border-primary-3{
    border: 5px solid $primary!important;
}

.border-red-1{
    border: 1px solid $red!important;
}
.border-red-2{
    border: 3px solid $red!important;
}.border-red-3{
    border: 5px solid $red!important;
}


.bg-primary{
    background-color: $primary;
}
.bg-yellow{
    color:$yellow!important;
}
.bg-green{
    color: $green!important;
}
.bg-blue{
    color: $blue!important;
}
.bg-red{
    color: $blue!important;
}

.c-primary{
    color: $primary;
}
.c-yellow{
    color:$yellow!important;
}
.c-green{
    color: $green!important;
}
.c-blue{
    color: $blue!important;
}
.c-red{
    color: $red!important;
}


.header-content{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:start;
    box-sizing: border-box;

    .projects-container{
        display:flex;
        flex-direction: row;
        align-items: center;
        
    }
    .project-body{
        margin-right: 0.5rem;
        margin-top: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        border: 0.3rem solid #00AA88;
        border-radius:1rem;
        padding: 0.5rem;
        transition: padding 0.5s ease;
        .num{
            position: absolute;
            bottom: 85%;
            left: 30%;
            padding: 0rem 0.5rem 0rem 0.5rem;
            font-size:24pt;
            font-weight:bold;
            text-align: center;
            background-color: white;
            color: #00AA88;
        }
        .text-body{
            padding: 0.2rem;
            font-size:12pt;
            font-weight:bold;
            text-align: center;
            transition: font-size 0.5s ease;
            
        }
    }

    .project-body:hover{
        padding: 1rem;
        .text-body {
            padding: 0.1rem;
            font-size:14pt;
        }
    }
}


.container-social-c{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius:0.5rem;
    border: 1px dashed black;

    .social-c-title{
        align-self: center;
        h3{
            font-size: 12pt;
            margin: 0.2rem;
        }
    }

    .social-c{
        margin: 0.5rem;
        font-size: 28pt;
        display: flex;
        flex-direction: row;
         align-items: start;
        justify-content:start;
        transition: all 0.3s ease-in;
            a{
                text-decoration: none;
                color: #000;
                margin-left: 0.5rem;
                
            }

            span{
                margin-left: 0.5rem;
            }
    }


    .social-c:hover{
        color: $primary;
        cursor: pointer;
    }

}



.container-global{
    display: flex;
    align-items: center;
    justify-content: center;
}

//--------------Skills bars-----------//
.skills{
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 1rem 0rem 1rem 0rem;
    transition: all 0.5s ease-in;
    }

.skill{
    text-align: center;
    color: white;
}

.side-card{
    @include sideCard();
    .container-main-progress{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:center;

        .skill-icon{
            font-size: 32px;
            margin-right: 1rem;
        }
        /*---Iconos---*/

        //---------------------Front end-----------------------//
        }
        .i-html{
            @include iconProgres(rgba(170, 72, 15, 1), 32px)
        }
        .i-css{
            @include iconProgres(#2965f1, 32px)
        }
        .i-js{
            @include iconProgres(#c9b114, 28px)
        }
        .i-vue{
            @include iconProgres(#41B883, 28px)
        }
        .i-react{
            @include iconProgres(#61DBFB, 26px)
        }
        //--------------------------------------------------------//

        //----------------------Back End--------------------------//
        .i-php{
            margin-right: 0.2rem;
            @include iconProgres(#8993be, 20px)
        }
        .i-laravel{
            margin-right: 0.9rem;
            @include iconProgres(#F05340, 26px)
            
        }
        .i-sql{
            @include iconProgres(#00758F, 28px)
        }
        .i-node{
            @include iconProgres(#3C873A, 28px)
        }
        .i-mongo{
            @include iconProgres(#3C873A, 28px)
        }
        //--------------------------------------------------------//

        //---------------- Otros ---------------------------------//
        .i-python{
            @include iconProgres(#4B8BBE, 30px);
        }
        .i-java{
            @include iconProgres(#5382a1, 32px);
        }
        .i-c{
            @include iconProgres(#000, 32px);
        }
        .i-git{
            @include iconProgres(#F1502F, 28px);
        }

        .i-docker{
            @include iconProgres(#0db7ed, 20px);
        }

        .i-vue{
            font-size: 28px !important;
            color: #41B883;
            @include iconProgres(#41B883, 28px);
        }
        //-------------------------------------------------------//

    .progress{
        width: 12rem;
        background-color: rgb(100, 100, 100, 0.5);
        border-radius: 0.3rem;

        /*---Barras de progreso---*/

        //---------Front End---------//
        .html{
            @include progressBar(rgba(170, 72, 15, 1), 93%)
        }
        .css{
            @include progressBar(#2965f1, 85%)
            
        }
        .js{
            @include progressBar(#c9b114, 80%)
        }
        .vue{
            @include progressBar(#41B883, 80%)
        }
        .react{
            @include progressBar(#61DBFB, 50%)
        }
        //----------------------------//

        //---------------Back End----------------//
        .php{
            @include progressBar(#8993be, 85%)
        }
        .laravel{
            @include progressBar(#F05340, 80%)
        }
        .sql{
            @include progressBar(#F29111, 80%)
        }
        .node{
            @include progressBar(#3C873A, 70%)
        }
        .mongo{
            @include progressBar(#3C873A, 50%)
            
        }
        //------------------------------------//

        //------------ Otros -----------------//
        .python{
            @include progressBar(#4B8BBE, 85%);
        }
        .java{
            @include progressBar(#5382a1, 80%);
        }
        .c{
            @include progressBar(#000, 80%);
        }
        .git{
            @include progressBar(#F1502F, 80%);
        }
        .docker{
            @include progressBar(#0db7ed, 60%);
        }
        //------------------------------------//
    }
    
    }


//------------------------------------//

//-------Qualities bar-----------------//
.qualities{
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 1rem 0rem 1rem 0rem;
    transition: all 0.5s ease-out;
    }
//-------------------------------------//

//-------sidebar---------------//
.sidebar{
    background-color: white;
    box-shadow: 4px -4px 8px rgba(0,0,0,0.8), -2px 0px 4px rgba(0,0,0,0.8);
    height: min-content;
    grid-row: 1 / 3;
    white-space: wrap;
    .side-title{
        margin: 0px;
        padding: 0.8rem;
        background-color: $primary;
        color: #fff;
        font-size:22pt;
        text-align: center;
        display: flex;
        flex: row;

        #side-icon-left{
            border: solid 1px #fff;
            border-radius: 0.3rem;
            padding: 0.3rem;
            margin-left: 0.5rem;
            margin-right: 1rem;
            font-size: 18pt;
            transition: all ease 0.5s;
            cursor: pointer;
            display: none;
        }

        #side-icon-right{
            border: solid 1px #fff;
            border-radius: 0.3rem;
            padding: 0.3rem;
            margin-left: 0.5rem;
            margin-right: 1rem;
            font-size: 18pt;
            transition: all ease 0.5s;
            cursor: pointer;
        }

        #side-icon-right:hover{
            background-color: rgba(0, 0, 0, 0.322);
        }

        #side-icon-left:hover{
            background-color: rgba(0, 0, 0, 0.322);
        }

    }

}

.list-qualities{
    list-style: none;

    li{
        width: 12rem;
        padding: 0.3rem;
        margin: 0.3rem;

        .list-item-icon{
            font-size: 10pt;
            margin: 0.3rem;
            padding: 0.3rem;
        }

        .list-item-text{
            font-size: 15pt;
        }

    }
}
//----------------------------//

//------logo-principal--------//
.logo-main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:baseline;
    margin: 1rem;
    margin-bottom: 1.5rem;
    
}

.logo-image{
    padding: 1rem;
    padding-top: 0px;

}

.logo-words-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    position: absolute;
    top: 90%;
    .write-bar{
        font-size: 16pt;
        font-weight: bold;
    }
}

.logo-words{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    .letter-logo{
        font-size: 12pt;
    }

    .code{
        color: $primary;
    }
    .hidden-letter{
        visibility: hidden;
    }

}
//-----------------------------//

.card{
    position: relative;
    border-radius: 1rem;
    border: 1px solid $primary;
    background-color: #ffffff;


    .card-info{
        .card-body{
            height: 13rem;
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0rem 0rem 1rem 1rem;
            transition: background-color 0.8s ease;

            p{
                padding: 0.2rem 0.5rem 0rem 0.5rem;
            }
            .card-text{
                margin-bottom:0.5rem;
                text-align:center;
                font-size: 12pt;
                .value{
                    
                    font-size: 12pt;
                }
            }
            .card-img{
                margin-top: 0.5rem;
                img{
                    background-color: $primary;
                    border-radius: 50%;
                    width: 130px;
                }
            }
            .card-description{
                display: none;
            }
        }

        .card-title{
            margin: 0px;
            text-align: center;
            background-color: $primary;
            border-radius: 1rem 1rem 0rem 0rem;
            color: #fff;
            font-weight: bold;
            padding: 1rem;
            font-size: 14pt;
            
            a{
                text-decoration: none;
                color: #fff;
                transition: all ease 0.5s;
            }
            a:hover{
                font-size: 16pt;
                color: #000;
            }
        }
        .card-body:hover{
            background-color: #00aa8856;

            .card-text{
                display: none;
            }
            .card-img{
                display: none;
            }

            .card-description{
                color: rgb(0, 0, 0);
                display: block;
                text-align: center;
                font-size: 14pt;
                font-style: italic;
            }
        }

    }

    
}


.card-projects{
    position: relative;
    border-radius: 1rem;
    border: 1px solid $primary;
    background-color: #ffffff;

    .card-projects-info{
        .card-projects-body{
            height: 12rem;
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0rem 0rem 1rem 1rem;
            transition: background-color 0.8s ease;

            p{
                padding: 0.2rem 0.5rem 0rem 0.5rem;
            }
            .card-projects-text{
                margin-bottom:0.5rem;
                text-align:center;
                font-size: 12pt;
                .value{
                    
                    font-size: 12pt;
                }
            }
            .card-projects-img{
                margin-top: 0.5rem;
                img{
                    border-radius: 50%;
                    width: 100px;
                }
            }
            .card-projects-description{
                display: none;
            }
        }

        .card-projects-title{
            margin: 0px;
            text-align: center;
            background-color: $primary;
            border-radius: 1rem 1rem 0rem 0rem;
            color: #fff;
            font-weight: bold;
            padding: 1rem;
            font-size: 14pt;
            
            a{
                text-decoration: none;
                color: #fff;
                transition: all ease 0.5s;
            }
            a:hover{
                font-size: 16pt;
                color: #000;
            }
        }
        .card-projects-body:hover{
            background-color: #00aa8856;

            .card-projects-text{
                display: none;
            }
            .card-projects-img{
                display: none;
            }

            .card-projects-description{
                color: rgb(0, 0, 0);
                display: block;
                text-align: center;
                font-size: 14pt;
            }
        }

    }

    
}

//---------Navigation----------------//
.navigation{
    margin: 0px;
    height: 4rem;
    width: 100%;
    background-color: $primary;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

    .icon-responsive{
        display: none;
        #menu-icon-close{
            display: none;
        }
    }
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;

        li{
            margin: 0rem 2rem 0rem 0rem;
            a{
                font-size: 18pt;
                text-decoration: none;
                color: white;
                transition: background-color 0.5s ease;
                transition: font-size 0.5s ease;
                padding: 1rem;
            }
        
        }

        li:hover{
            a{
                background-color:black;
                color: $primary;
                font-size: 20pt;
            }

        }

        

        
    }
}
//------------------------------------//

//----------Content-------------------//
.content{
    height: auto;
    box-shadow: 4px -4px 8px rgba(0,0,0,0.8), -2px 0px 4px rgba(0,0,0,0.8);
    background-color: white;

    #about-me{
        @include card;
    }

    #projects{
        @include card;
    }

    #contact{
        @include card;
    }

}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid $primary;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


