@font-face {
    font-family: logoFont;
    src: url("../../assets/fonts/Mr\ Sunshine.ttf");
}


@font-face {
    font-family: main;
    src: url("../../assets/fonts/Roboto/Roboto-regular.ttf");
}


$primary: #00AA88;
$red: #e73a27;
$blue: #2965f1;
$green: #0fa863;
$yellow: #dabe0b;